$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$black:#2B2D38;
$grey:#ABABAB;
$light-grey:#E1E1E1;
$pink:#DB2A6B;
$cyan:#60D3D9;
$purple:#6E1FED;
$yellow:#F4B840;
$orange:#FF7E29;


$poppins: "Poppins", sans-serif;
$merriweather: "Merriweather", serif;
