body {
    background-color: black;
    background-image:
    url(../../img/ellipse.svg),
    url(../../img/ellipse.svg);

    background-repeat: no-repeat;

    background-size: 1102px, 850px;

    background-position: bottom right;
}
