.container {
    display: flex;
    align-items: center;
    gap: 650px;
}
.header {
    margin-top: 46px;   
    margin-bottom: 46px; 

    &__menu{
        display: flex;
        gap: 48px;
        justify-content: end;
        align-items: center;
    }
    &__item {
        position: relative;
        width: max-content;
        a {
            color: $grey;
            font-size: 18px;
            font-weight: normal;
            font-family: $poppins;
            &:hover {
                color: white;
                &::after {
                content: "";
                position: absolute;
                background-image: url("../../img/Rectangle.svg");
                background-repeat: no-repeat;
                background-size: contain;
                width: 30px;
                height: 5px;
                left: 0%;
                bottom: -10px;
            }
        }
    }
}
}
    


