html {
    font-family: $poppins;
    max-width: 1920px;
    box-sizing: border-box;
}

.container {
    padding-left: 160px;
    padding-right: 160px;
}

ul {
    @include reset-list() 
}

a {
    @include reset-link()
}